JPype1==1.2.1
graphviz==0.16
sqlparse==0.4.1
PyMySQL==0.10.1
requests==2.22.0
pandas==0.25.2
tensorflow==1.15.0
numpy==1.17.2
gym==0.18.0
psycopg2_binary==2.8.4
keras==2.6.0
psycopg2==2.9.1
scikit_learn==0.24.2
